body {
  background-color: #352f5b;
}

.container {
  max-width: 400px;
}

input:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background-color: #423a6f;
}

.delete {
  cursor: pointer;
  /* to make the cursor as a pointing finger */
}
.filtered{
  display: none !important; 
  /* important will override all previous styles & will give more importance to the specified property */
}